{% extends 'base.html' %}
    
{% block tour %}

<div class="aboutus mt-5 mb-5">
    <div class="container">
        <div class="row offset-1">
            <div class="col-lg-6 col-md-12">
                <div class="pic">
                    <img src="/static/img/about.jpg">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="pictext">
                    <h2>Wellcome To <span>Tourist</span></h2>
                    <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et 
                        lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li>First Class Flights</li>
                                <li>5 Star Accommodations</li>
                                <li>150 Premium City Tours</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li>Handpicked Hotels</li>
                                <li>Latest Model Vehicles</li>
                                <li>24/7 Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock tour %}






