{% extends 'base.html' %}

{% block tour %}

<div class="container">
    <div class="booking ">
        <div class="book_overlay">
            <div class="row">
                <div class="col-lg-6">
                    <div class="book_text text-light">
                        <h4>Booking</h4>
                        <h1>Online Booking</h1>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et 
                            lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                            <a class="btn btn-outline-light btn-text-light" href="">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="book_text1 text-light">
                        <h1>Book A Tour</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="search">
                                <input class="form-control bg-transparent" type="search" placeholder="Your Name" aria-label="Search"> 
                              </form>
                        </div>
                        <div class="col-lg-6">
                            <form role="search">
                                <input class="form-control bg-transparent" type="search" placeholder="Your Email" aria-label="Search"> 
                              </form>
                        </div>
                        <div class="col-lg-6">
                            <form role="search">
                                <input class="form-control bg-transparent" type="search" placeholder="Date & Time" aria-label="Search"> 
                              </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating">
                                <select class="form-select bg-transparent" id="select1">
                                    <option value="1">Destination 1</option>
                                    <option value="2">Destination 2</option>
                                    <option value="3">Destination 3</option>
                                </select>
                                <label for="select1" class="monn">Destination</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <form role="search">
                                <input class="form-control bg-transparent" type="search" placeholder="Special Request" aria-label="Search" style="padding-bottom: 55px;"> 
                              </form>
                              <a class="btn btn-outline-light btn-text-light d-flex text-center" style="padding-left: 190px;" href="">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="step">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="step_text text-center">
                    <h6 class="title  bg-light px-3">PROCESS </h6>
                    <h1>3 Easy Step</h1>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="step_pic shadow text-center">
                    <div class="ico ">
                        <i class="fa fa-3x fa-globe  mb-4"></i> 
                    </div>
                    <h3>Choose A Destination</h3>
                    <p>Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="step_pic wom shadow text-center">
                    <div class=" var">
                        <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                   <h3>Pay Online</h3>
                   <p>Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="step_pic mow shadow text-center">
                    <div class=" rom">
                        <i class="fa-sharp fa-solid fa-plane "></i>
                    </div>
                   <h3>Fly Today</h3>
                   <p>Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock tour %}