{% include 'header.html' %}

{% block tour %}

<div class="service ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="headingg text-center">
                    <h6 class="title  bg-light px-3">  SERVICES </h6>
                    <h1>Our Services</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="heading border shadow mt-3 mb-3">
                    <i class="fa fa-3x fa-globe mb-4"></i>
                    <h5>WorldWide Tours</h5>
                    <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="heading border shadow mt-3 mb-3">
                    <i class="fa fa-3x fa-hotel  mb-4"></i>
                    <h5>Hotel Reservation</h5>
                    <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="heading border shadow mt-3 mb-3">
                    <i class="fa fa-3x fa-user  mb-4"></i>
                    <h5>Travel Guides</h5>
                    <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="heading border shadow mt-3 mb-3">
                    <i class="fa fa-3x fa-cog mb-4"></i>
                    <h5>Event Management</h5>
                    <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="heading border shadow mt-3 mb-3">
                    <i class="fa fa-3x fa-globe  mb-4"></i>
                    <h5>WorldWide Tours</h5>
                    <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="heading border shadow mt-3 mb-3">
                    <i class="fa fa-3x fa-hotel  mb-4"></i>
                    <h5>Hotel Reservation</h5>
                    <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="heading border shadow mt-3 mb-3">
                    <i class="fa fa-3x fa-user mb-4"></i>
                    <h5>Travel Guides</h5>
                    <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="heading border shadow mt-3 mb-3">
                    <i class="fa fa-3x fa-cog  mb-4"></i>
                    <h5>Event Management</h5>
                    <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock tour %}

{% include 'footer.html' %}